<?xml version="1.0"?>
<launch>
    <node pkg="deep-tracking" type="deep_tracker.py" name="deep_tracker" cwd="node"/>
    <node pkg="ray_caster" type="ray_caster" name="ray_caster"/>
    <node pkg="map_to_jpeg" type="map_to_image_node" name="map_to_image_node"/>
    <node pkg="objecttracker" type="tracker_node.py" name="tracker_node"/>
</launch>
